        html{
            font-size: 18px;
            font-family:Courier, 'Courier New', monospace;
            color: red;
            max-width: 1000px;
            margin: auto;
            margin-right: auto;
        }
        body{
            background-position:center;
            /*background-color:black;
            background-image: url('background.png');*/
            background-image:linear-gradient(to top, rgb(75, 2, 2), black);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            margin: 0;
            padding: 0;
        }
        header{
            width: 1000px;
            height:250px;
            padding-top:20px;
            background-color: black;
            text-align: center;
        }
        ul.horizontal-list li {
            font-size: 22px;
            display: inline-block;
            margin-right: 20px;
        }
        ul.horizontal-list li a {
            display: inline-block; /* Change to inline-block for better alignment */
            color: red;
            text-align: center;
            padding: 4px 4px; /* Adjust padding for a tighter fit */
            text-decoration: none;
            position: relative; /* For positioning the pseudo-element */
        }
        ul.horizontal-list li a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 2px; /* Adjust to position closer to the text */
            width: 0;
            height: 2px;
            background-color: red;
            transition: width 0.3s ease-in-out;
        }
        ul.horizontal-list li a:hover::after {
            width: 100%;
        }
        a{
            color:red;
            text-decoration: underline;
        }
        h1{
            font-size: 50px;
            font-weight: normal;
            color: red;
        }
        h1 a{
            color:red;
            text-decoration: none;
        }
        h2{
            font-weight: normal;
        }
        h3{
            font-weight: bold;
            text-decoration-line: underline;
        }
        h3 a{
            color: red;
        }
        h3 a:hover{
            color: gray;
        }
        h4{
            color: red;
            text-align: center;
        }
        p.rt{
            font-size:12px;
            font-weight: bold;
        }
        div{
            background-color: black;
            padding: 10px 40px 10px 40px;
        }
        
        section{
            background-color: black;
            padding: 40px;

        }
        hr{
            height:2px;
            background-color:red;
            border:none;
        }
        footer{
            background-color: black;
            padding: 20px;
        }