html {
    font-size: 20px;
    /*font-family: Courier, 'Courier New', monospace;
    color: red;*/
    font-family:garamond,serif;
    color:#FADA5E;
    width: 60%;
    margin: auto;
    margin-right: auto;
}

body {
    background-position: center;
    /*background-image: linear-gradient(to top, #004830, black);*/
    background-color:#003d29;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 250px;
    padding-top: 20px;
    /*background-color: black;*/
    background-color:#003d29;
    text-align: center;
}

ul.horizontal-list li {
    font-size: 22px;
    display: inline-block;
    margin-right: 20px;
}

ul.horizontal-list li a {
    display: inline-block; 
    /*color: red;*/
    color:#FADA5E;
    text-align: center;
    padding: 4px 4px; 
    text-decoration: none;
    position: relative; 
}

ul.horizontal-list li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px; 
    width: 0;
    height: 2px;
    background-color: #FADA5E;
    transition: width 0.3s ease-in-out;
}

ul.horizontal-list li a:hover::after {
    width: 100%;
}

a {
    /*color: red;*/
    color:yellow;;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
    text-decoration: bold;
    /*color: red;*/
    color:white;
}

h1 a {
    /*color: red;*/
    color:white;
    text-decoration: none;
}

h2 {
    color:white;
}

h3 {
    font-weight: bold;
    text-decoration-line: underline;
}

h3 a {
    /*color: red;*/
    color:#FADA5E;
}

h3 a:hover {
    color: white;
}

h4 {
    /*color: red;*/
    color:white;
    text-align: center;
    font-size: 22px;
}

p.rt {
    font-size: 12px;
    font-weight: bold;
}
p.quote{
    padding: 10px 40px 10px 40px;
}
div {
    /*background-color: black;*/
    background-color:#003d29;
    padding: 2px 40px 2px 40px;
}

section {
    /*background-color: black;*/
    background-color:#003d29;
    padding: 40px;
}

hr {
    height: 2px;
    /*background-color: black;*/
    background-color:#FADA5E;
    border: none;
}

footer {
    /*background-color: black;*/
    background-color:#003d29;
    padding: 20px;
}


@media (max-width: 768px) {
    html {
        width: 100%;
        padding: 0 10px;
        font-size: 16px;
    }

    ul.horizontal-list li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    div {
        padding: 10px 20px;
    }

    section {
        padding: 20px;
    }

    h1 {
        font-size: 36px;
    }

    header {
        height: auto;
        padding-top: 20px;
    }
}
